.start-screen {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
        overflow: hidden;
    }
    img {
        height: 100vh;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    img {
        width: 20vw;
        height: auto;
        margin-right: 80px;
        margin-top: 20px;
        @media (max-width: 960px) {
            width: 200px;
        }
        &:hover {
            filter: brightness(1.5);
            cursor: pointer;
        }
    }
}